**/.DS_Store
output/
output/html/*
output/pdf/*
output/pg/*
output/images/*
output/*.txt
src/schemas.xml
src/activities/schemas.xml
src/previews/schemas.xml
src/exercises/schemas.xml
*.tex
*.swp

Makefile.paths
