**/.DS_Store
output
schemas.xml
*.tex
*.swp
generated-assets/webwork/*
!generated-assets/webwork/AC.pl
.error_schema.log
cli.log

Makefile.paths
published
*.pkl
.vscode
.devcontainer.json
codechat_config.yaml
settings.json
logs

